职能图谱.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: 职能图谱
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.15@725407927b04e236212083d20e92830d60fa944e42cd357ef6902c160414f6f1
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1777537954607-source-1777538024344-target
      source: '1777537954607'
      sourceHandle: source
      target: '1777538024344'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1777538024344-source-1777538137196-target
      source: '1777538024344'
      sourceHandle: source
      target: '1777538137196'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: 1777538137196-source-1777538241482-target
      source: '1777538137196'
      sourceHandle: source
      target: '1777538241482'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: ''
          hint: ''
          label: job_name
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: job_name
      height: 109
      id: '1777537954607'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1777537954607'
          - job_name
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-v4-flash
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 77aa4497-c4a8-4a08-ba76-4b7c5725bb64
          role: system
          text: "你是一位资深的招聘顾问和职业分析师。用户会给你一个职位名称{{#1777537954607.job_name#}}}，你需要输出该职位的详细技能要求。\n\
            \n请严格按照以下 JSON 格式输出，不要输出其他内容：\n\n{\n  \"job_title\": \"职位名称\",\n  \"hard_skills\"\
            : [\n    \"技能1\",\n    \"技能2\",\n    \"...\"\n  ],\n  \"soft_skills\"\
            : [\n    \"技能1\",\n    \"技能2\",\n    \"...\"\n  ],\n  \"tools\": [\n \
            \   \"工具/框架1\",\n    \"工具/框架2\",\n    \"...\"\n  ],\n  \"experience\"\
            : \"经验要求描述\",\n  \"education\": \"学历要求描述\"\n}\n\n规则：\n- hard_skills：硬技能（编程语言、技术栈等）\n\
            - soft_skills：软技能（沟通能力、团队协作等）\n- tools：常用工具、框架、平台\n- 每个分类列出 3-8 个关键项\n\
            - 内容要具体，不要泛泛而谈\n"
        selected: true
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1777538024344'
      position:
        x: 473
        y: 282
      positionAbsolute:
        x: 473
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\nimport re\n\ndef main(llm_output: str) -> dict:\n    #\
          \ 尝试从 LLM 输出中提取 JSON\n    match = re.search(r'\\{[\\s\\S]*\\}', llm_output)\n\
          \    if match:\n        try:\n            result = json.loads(match.group())\n\
          \            return {\"result\": json.dumps(result, ensure_ascii=False,\
          \ indent=2)}\n        except json.JSONDecodeError:\n            pass\n\n\
          \    return {\"result\": llm_output}\n"
        code_language: python3
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: 代码执行
        type: code
        variables:
        - value_selector:
          - '1777538024344'
          - text
          value_type: string
          variable: llm_output
      height: 52
      id: '1777538137196'
      position:
        x: 773
        y: 282
      positionAbsolute:
        x: 773
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1777538137196'
          - result
          value_type: string
          variable: result
        selected: false
        title: 输出
        type: end
      height: 88
      id: '1777538241482'
      position:
        x: 1075
        y: 282
      positionAbsolute:
        x: 1075
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -661.8513287861474
      y: 56.37786467630633
      zoom: 0.9958497530944583
  rag_pipeline_variables: []
